<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFL Trading Card App</title>
</head>
<body>
    <h1>NFL Trading Card App</h1>
    <form action="/process_folder" method="post">
        <label for="folder_input">Images Folder: (I wouldn't change this - Place your images in static\images)</label>
        <input type="text" id="folder_input" name="folder_path" value="{{ folder_path }}" readonly><br />
        <label for="csv_file">CSV File:</label>
        <input type="text" id="csv_file" name="csv_file" value="{{ csv_file }}" readonly>
        <button type="submit">Submit</button>
    </form>
</body>
</html>